<!-- <p>account-setting worksdgdfgfdg!</p> -->
<div class="account-wraper">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <!--Accordion wrapper-->
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                    <!-- Accordion card -->
                    <div class="card heading">

                        <!-- Card header -->
                        <div class="card-header card-headingWraper" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                <h5 class="mb-0">
                                    Profile
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div class="small-acordion-wraper">
                            <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                                <div class="card-body small-wraper">
                                    <!-- Grid row -->
                                    <div class="row accordion-gradient-bcg d-flex justify-content-center">

                                        <!-- Grid column -->
                                        <div class="col-md-10 col-xl-6  smallAcordion-wraper">

                                            <!--Accordion wrapper-->
                                            <div class="accordion md-accordion accordion-2 " id="accordionEx7" role="tablist" aria-multiselectable="true">

                                                <!-- Accordion card -->
                                                <div class="card small-open">

                                                    <!-- Card header -->
                                                    <div class="card-header firstDiv rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading1">
                                                        <a data-toggle="collapse" data-parent="#accordionEx7" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                                            <h4 class=" main-heading">
                                                                Name <i class="fas fa-angle-down rotate-icon"></i>
                                                            </h4>
                                                        </a>
                                                    </div>

                                                    <!-- Card body -->
                                                    <div id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="heading1" data-parent="#accordionEx7">
                                                        <div class="card-body mb-1 rgba-grey-light white-text">
                                                            <form>
                                                                <div class="form-group">
                                                                    <label for="text">Name</label>
                                                                    <input type="text" class="form-control" placeholder="First name">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Accordion card -->
                                                <div class="card small-open">

                                                    <!-- Card header -->
                                                    <div class="card-header firstDiv rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading2">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                                            <h4 class=" main-heading">
                                                                Username <i class="fas fa-angle-down rotate-icon"></i>
                                                            </h4>
                                                        </a>
                                                    </div>

                                                    <!-- Card body -->
                                                    <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2" data-parent="#accordionEx7">
                                                        <div class="card-body mb-1 rgba-grey-light white-text">
                                                            <form>
                                                                <div class="form-group">
                                                                    <label for="text">Username</label>
                                                                    <input type="text" class="form-control" placeholder="User name">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Accordion card -->
                                                <div class="card small-open">

                                                    <!-- Card header -->
                                                    <div class="card-header firstDiv rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading3">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                                            <h4 class=" main-heading">
                                                                Password <i class="fas fa-angle-down rotate-icon"></i>
                                                            </h4>
                                                        </a>
                                                    </div>

                                                    <!-- Card body -->
                                                    <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3" data-parent="#accordionEx7">
                                                        <div class="card-body mb-1 rgba-grey-light white-text">
                                                            <form>
                                                                <div class="form-group">
                                                                    <label for="exampleInputPassword1">Password</label>
                                                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Accordion card -->
                                                <div class="card small-open">

                                                    <!-- Card header -->
                                                    <div class="card-header firstDiv rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading3">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                                            <h4 class=" main-heading">
                                                                Email <i class="fas fa-angle-down rotate-icon"></i>
                                                            </h4>
                                                        </a>
                                                    </div>

                                                    <!-- Card body -->
                                                    <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading3" data-parent="#accordionEx7">
                                                        <div class="card-body mb-1 rgba-grey-light white-text">
                                                            <form>
                                                                <div class="form-group emailsection">
                                                                    <label class="emailLable" for="exampleInputEmail1">Email* </label>
                                                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                                                    <small id="emailHelp" class="form-text text-muted">
                                                                        <div class="custom-control custom-checkbox mycheckbox">
                                                                        <input type="checkbox" class="custom-control-input" id="defaultCheckedDisabled2" checked disabled>
                                                                        <label class="custom-control-label" for="defaultCheckedDisabled2"></label>
                                                                      </div>We'll never share your email with anyone else.</small>
                                                                </div>
                                                                <div class="emailbtns">
                                                                    <div class="cancles">
                                                                        <a href="#"> <button class="cancle-btn">Cancle</button></a>
                                                                    </div>
                                                                    <div class="saves">
                                                                        <a href="#"> <button class="save-btn">Save</button></a>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Accordion card -->
                                                <div class="card small-open">

                                                    <!-- Card header -->
                                                    <div class="card-header firstDiv rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading3">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                                            <h4 class=" main-heading">
                                                                Phone Number <i class="fas fa-angle-down rotate-icon"></i>
                                                            </h4>
                                                        </a>
                                                    </div>

                                                    <!-- Card body -->
                                                    <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading3" data-parent="#accordionEx7">
                                                        <div class="card-body mb-1 rgba-grey-light white-text">
                                                            <form>
                                                                <div class="form-group numbersection">
                                                                    <label class="emailLable number" for="exampleInputPassword1">Mobile Phone* </label>
                                                                    <input type="number" class="form-control" id="number" placeholder="Home">

                                                                </div>
                                                                <div class="form-group numbersection home">
                                                                    <label class="emailLable number home" for="exampleInputPassword1">Home Phone*</label>
                                                                    <input type="number" class="form-control" id="number" placeholder="Mobile">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="defaultCheckedDisabled2" checked disabled>
                                                                        <label class="custom-control-label" for="defaultCheckedDisabled2">yes, I would like to receive notification via text Message </label>

                                                                    </div>
                                                                    <div class="emailbtns">
                                                                        <div class="cancles">
                                                                            <a href="#"> <button class="cancle-btn">Cancle</button></a>
                                                                        </div>
                                                                        <div class="saves">
                                                                            <a href="#"> <button class="save-btn">Save</button></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/.Accordion wrapper-->

                                        </div>
                                        <!-- Grid column -->

                                    </div>
                                    <!-- Grid row -->
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->

                    <!-- Accordion card -->
                    <div class="card  heading">

                        <!-- Card header -->
                        <div class="card-header card-headingWraper" role="tab" id="headingTwo2">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                <h5 class="mb-0">
                                    Loyalty Points
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                            <div class="card-body">
                                <table class="rwd-table">
                                    <tr>
                                        <th>Movie Title</th>
                                        <th>Genre</th>
                                        <th>Year</th>
                                        <th>Gross</th>
                                    </tr>
                                    <tr>
                                        <td data-th="Movie Title">Star Wars</td>
                                        <td data-th="Genre">Adventure, Sci-fi</td>
                                        <td data-th="Year">1977</td>
                                        <td data-th="Gross"></td>
                                    </tr>
                                    <tr>
                                        <td data-th="Movie Title">Howard The Duck</td>
                                        <td data-th="Genre">"Comedy"</td>
                                        <td data-th="Year">1986</td>
                                        <td data-th="Gross"></td>
                                    </tr>
                                    <tr>
                                        <td data-th="Movie Title">American Graffiti</td>
                                        <td data-th="Genre">Comedy, Drama</td>
                                        <td data-th="Year">1973</td>
                                        <td data-th="Gross"></td>
                                    </tr>
                                </table>

                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->

                    <!-- Accordion card -->
                    <div class="card heading">

                        <!-- Card header -->
                        <div class="card-header card-headingWraper" role="tab" id="headingThree3">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                <h5 class="mb-0">
                                    Orders
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->

                </div>
                <!-- Accordion wrapper -->
            </div>
        </div>
    </div>
</div>