<section class="account-page grid-checkout">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-8 account-paged  col-lg-push-8">
                <div class="enrollment-righ">
                    <div class="enrollment-main-div">
                        <div class="enrollment-steps-5">
                            <h1 class="profileField">Profile</h1>
                            <ngb-accordion activeIds="" #acc="ngbAccordion">
                                <ngb-panel id="promo-sidebar1">
                                    <ng-template ngbPanelTitle>
                                        <div class="heading-step1 profile-section">
                                            <h4>Name</h4>
                                            <span class="highlight-info">{{UserDetails?.firstName}}</span>
                                            <span class="vali-promo"> </span>
                                            <span class="arrow-stepp">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="6.6"
                                              height="11.2" viewBox="0 0 6.6 11.2">
                                              <path id="Path_2044" data-name="Path 2044"
                                                  d="M630.9,4.7a.967.967,0,0,0,0,1.4l3.9,3.9-3.9,3.9a.99.99,0,0,0,1.4,1.4l4.6-4.6a.967.967,0,0,0,0-1.4l-4.6-4.6A.967.967,0,0,0,630.9,4.7Z"
                                                  transform="translate(-630.6 -4.4)" />
                                          </svg>
                                      </span>
                                    </div>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <form [formGroup]="onFirstNameSubmitForm" (ngSubmit)="updateFirstName()">
                                            <div [className]="UserDetails.firstName?  'special-field datafilled form-group ' : 'special-field dataempty form-group'">
                                                <!-- <label for="text">Name</label> -->
                                                <input type="text" class="form-control" formControlName="firstName" [ngClass]="{ 'is-invalid': firstnameSubmitted && f.firstName?.errors }" [(ngModel)]="UserDetails.firstName" [ngModelOptions]="{standalone: true}">
                                                <div *ngIf="firstnameSubmitted && f.firstName?.errors" class="invalid-feedback">
                                                  <div *ngIf="f.firstName?.errors.required">
                                                      First Name is required</div>
                                                </div>
                                                <label class="form-label">Name</label>
                                            </div>
                                            <div class="emailbtns">
                                                <div class="cancles">

                                                  <a> <button type="button" class="cancle-btn" (click)="acc.toggle('promo-sidebar1')">Cancel</button></a>
                                                     <!-- <a data-toggle="collapse" href="#promo-sidebar1" role="button" aria-expanded="false" aria-controls="promo-sidebar1"> <button class="cancle-btn">Cancel</button></a> -->
                                                </div>
                                                <div class="saves">
                                                    <!-- <a href="#"> <button class="save-btn" (click)="submit('First Name',UserDetails.firstName)">Save</button></a> -->
                                                    <a href="#"> <button type="submit" class="save-btn" >Save</button></a>
                                                </div>
                                            </div>
                                        </form>
                                    </ng-template>
                                </ngb-panel>


                                <ngb-panel id="promo-sidebar">
                                    <ng-template ngbPanelTitle>
                                        <div class="heading-step1 profile-section">
                                            <h4>Username</h4>
                                            <span class="highlight-info">{{UserDetails?.loginName}}</span>
                                            <span class="vali-promo"> </span>
                                            <span class="arrow-stepp">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="6.6"
                                              height="11.2" viewBox="0 0 6.6 11.2">
                                              <path id="Path_2044" data-name="Path 2044"
                                                  d="M630.9,4.7a.967.967,0,0,0,0,1.4l3.9,3.9-3.9,3.9a.99.99,0,0,0,1.4,1.4l4.6-4.6a.967.967,0,0,0,0-1.4l-4.6-4.6A.967.967,0,0,0,630.9,4.7Z"
                                                  transform="translate(-630.6 -4.4)" />
                                          </svg>
                                      </span>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <form [formGroup]="onloginNamSubmitForm" (ngSubmit)="updateLoginName()">
                                            <div ormControlName="loginName" [ngClass]="{ 'is-invalid': onloginNamSubmitForm && l.loginName?.errors }" [className]="UserDetails.loginName?  'special-field datafilled form-group ' : 'special-field dataempty form-group'">
                                                <input type="text" formControlName="loginName" [ngClass]="{ 'is-invalid': loginNameSubmitted && l.loginName?.errors }" class="form-control" [(ngModel)]="UserDetails.loginName" [ngModelOptions]="{standalone: true}">
                                                <div *ngIf="loginNameSubmitted && l.loginName?.errors" class="invalid-feedback">
                                                  <div *ngIf="l.loginName?.errors.required">
                                                      login Name is required</div>
                                                </div>
                                                <label class="form-label">User Name</label>
                                            </div>
                                            <div class="emailbtns">
                                                <div class="cancles">
                                                  <a> <button type="button" class="cancle-btn" (click)="acc.toggle('promo-sidebar')">Cancel</button></a>
                                                    <!-- <a data-toggle="collapse" href="#promo-sidebar" role="button" aria-expanded="false" aria-controls="promo-sidebar"> <button class="cancle-btn">Cancel</button></a> -->
                                                </div>
                                                <div class="saves">
                                                  <a href="#"> <button class="save-btn" type="submit">Save</button></a>
                                                    <!-- <a href="#"> <button class="save-btn" (click)="submit('login Name',UserDetails.loginName)">Save</button></a> -->
                                                </div>
                                            </div>
                                        </form>
                                    </ng-template>
                                </ngb-panel>



                                <ngb-panel id="otp-sidebar2">
                                    <ng-template ngbPanelTitle>
                                        <div class="heading-step1 profile-section">
                                            <h4>Password </h4>
                                            <span class="highlight-info">*********</span>

                                            <span class="arrow-stepp">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="6.6"
                                              height="11.2" viewBox="0 0 6.6 11.2">
                                              <path id="Path_2044" data-name="Path 2044"
                                                  d="M630.9,4.7a.967.967,0,0,0,0,1.4l3.9,3.9-3.9,3.9a.99.99,0,0,0,1.4,1.4l4.6-4.6a.967.967,0,0,0,0-1.4l-4.6-4.6A.967.967,0,0,0,630.9,4.7Z"
                                                  transform="translate(-630.6 -4.4)" />
                                          </svg>
                                      </span>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <div class="panel-body">
                                            <div id="view-logininformation-798275e4-d1dd-4d37-a977-497293c0fe5d">
                                                <div class="row ">
                                                    <div class=" col-sm-12 pinfo">
                                                        <form [formGroup]="onPasswordSubmitForm" (ngSubmit)="updatePassword()">
                                                            <div [className]="password?  'special-field datafilled form-group ' : 'special-field dataempty form-group'">
                                                                <input type="password" formControlName="Password" [ngClass]="{ 'is-invalid': PasswordSubmitted && p.Password?.errors }" class="form-control" [(ngModel)]="UserDetails.LoginPassword" [ngModelOptions]="{standalone: true}" id="exampleInputPassword1">
                                                                <div *ngIf="PasswordSubmitted && p.Password?.errors" class="invalid-feedback">
                                                                  <div *ngIf="p.Password?.errors.required">
                                                                      password is required</div>
                                                                      <div *ngIf="p.Password.errors.minlength">Password must be at least 6 characters</div>
                                                                </div>


                                                                <label for="form-label">Password</label>
                                                            </div>
                                                            <div class="emailbtns">
                                                                <div class="cancles">
                                                                  <a> <button type="button" class="cancle-btn" (click)="acc.toggle('otp-sidebar2')">Cancel</button></a>
                                                                    <!-- <a data-toggle="collapse" href="#otp-sidebar2" role="button" aria-expanded="false" aria-controls="otp-sidebar2"> <button class="cancle-btn">Cancel</button></a> -->
                                                                </div>
                                                                <div class="saves">
                                                                  <a href="#"> <button class="save-btn" type="submit">Save</button></a>
                                                                    <!-- <a href="#"> <button class="save-btn" (click)="submit('password',UserDetails.LoginPassword)">Save</button></a> -->
                                                                </div>

                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-panel>


                                <ngb-panel id="otp-sidebar">
                                    <ng-template ngbPanelTitle>
                                        <div class="heading-step1 profile-section">
                                            <h4>Email </h4>
                                            <span class="highlight-info">{{UserDetails?.email}}</span>
                                            <span class="arrow-stepp">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="6.6"
                                              height="11.2" viewBox="0 0 6.6 11.2">
                                              <path id="Path_2044" data-name="Path 2044"
                                                  d="M630.9,4.7a.967.967,0,0,0,0,1.4l3.9,3.9-3.9,3.9a.99.99,0,0,0,1.4,1.4l4.6-4.6a.967.967,0,0,0,0-1.4l-4.6-4.6A.967.967,0,0,0,630.9,4.7Z"
                                                  transform="translate(-630.6 -4.4)" />
                                          </svg>
                                      </span>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <div class="panel-body">
                                            <div id="view-logininformation-798275e4-d1dd-4d37-a977-497293c0fe5d">
                                                <div class="row ">
                                                    <div class=" col-sm-12 pinfo">
                                                        <form [formGroup]="onEmailSubmitForm" (ngSubmit)="updateEmail()">
                                                            <div [className]="UserDetails.email?  'special-field datafilled form-group ' : 'special-field dataempty form-group emailsection'">

                                                                <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': emailSubmitted && e.email?.errors }" [(ngModel)]="UserDetails.email" [ngModelOptions]="{standalone: true}" id="exampleInputEmail1" aria-describedby="emailHelp">
                                                                <div *ngIf="emailSubmitted && e.email?.errors" class="invalid-feedback">
                                                                  <div *ngIf="e.email?.errors.required">
                                                                      Email  is required</div>
                                                                      <div *ngIf="e.email.errors.email">Please enter vaild email address</div>
                                                                      <div *ngIf="e.email.errors.pattern">Email format is not vaild</div>
                                                                </div>

                                                                <label class="emailLable" for="exampleInputEmail1">Email* </label>
                                                                <small id="emailHelp" class="form-text text-muted">
                                                                  <div
                                                                      class="custom-control custom-checkbox mycheckbox">
                                                                      <input type="checkbox"
                                                                          class="custom-control-input"
                                                                          id="defaultCheckedDisabled21" >
                                                                      <label class="custom-control-label"
                                                                          for="defaultCheckedDisabled21"></label>
                                                                  </div>Yes, I would like to receive notifications via email.
                                                              </small>
                                                            </div>
                                                            <div class="emailbtns">
                                                                <div class="cancles">
                                                                  <a> <button type="button" class="cancle-btn" (click)="acc.toggle('otp-sidebar')">Cancel</button></a>
                                                                  <!-- <a data-toggle="collapse" href="#otp-sidebar" role="button" aria-expanded="false" aria-controls="otp-sidebar"> <button class="cancle-btn">Cancel</button></a> -->
                                                                </div>
                                                                <div class="saves">
                                                                  <a href="#"> <button class="save-btn" type="submit">Save</button></a>
                                                                    <!-- <a href="#"> <button class="save-btn" (click)="submit('email',UserDetails.email)">Save</button></a> -->
                                                                </div>
                                                            </div>
                                                            <label for="text"></label>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-panel>

                                <ngb-panel id="otp-sidebar3">
                                    <ng-template ngbPanelTitle>
                                        <div class="heading-step1">
                                            <h4>Phone Number </h4>
                                            <!-- <span class="highlight-info">{{UserDetails?.mobilePhone}}, {{UserDetails?.mobilePhone}}</span> -->
                                            <span class="highlight-info">Mobile, Home</span>
                                            <span class="arrow-stepp">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="6.6"
                                              height="11.2" viewBox="0 0 6.6 11.2">
                                              <path id="Path_2044" data-name="Path 2044"
                                                  d="M630.9,4.7a.967.967,0,0,0,0,1.4l3.9,3.9-3.9,3.9a.99.99,0,0,0,1.4,1.4l4.6-4.6a.967.967,0,0,0,0-1.4l-4.6-4.6A.967.967,0,0,0,630.9,4.7Z"
                                                  transform="translate(-630.6 -4.4)" />
                                          </svg>
                                      </span>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <div class="panel-body">
                                            <div id="view-logininformation-798275e4-d1dd-4d37-a977-497293c0fe5d">
                                                <div class="row ">
                                                    <div class=" col-sm-12 pinfo">
                                                        <form [formGroup]="onPhoneSubmitForm" (ngSubmit)="updatemobilePhone()">
                                                            <div [className]="UserDetails.mobilePhone?  'special-field datafilled form-group ' : 'special-field dataempty form-group emailsection'">
                                                                <input  type="tel" formControlName="mobilePhone" [ngClass]="{ 'is-invalid': mobilePhoneSubmitted && m.mobilePhone?.errors }" class="form-control" id="Phone" [(ngModel)]="UserDetails.mobilePhone" [ngModelOptions]="{standalone: true}">
                                                                <div *ngIf="mobilePhoneSubmitted && m.mobilePhone?.errors" class="invalid-feedback">
                                                                  <div *ngIf="m.mobilePhone?.errors.required">
                                                                    mobile Phone  is required</div>

                                                                    <div *ngIf="m.mobilePhone.errors.minlength">Phone number must be at least 10-12 numbers with country
                                                                      code</div>
                                                                </div>
                                                                <label class="emailLable number" for="exampleInputPassword1">Mobile Phone*
                                                              </label>
                                                                <p>Required*</p>
                                                            </div>
                                                            <div [className]="UserDetails.mobilePhone?  'special-field datafilled form-group ' : 'special-field dataempty form-group emailsection numbersection home'">

                                                                <input  type="tel" class="form-control" formControlName="phone" [ngClass]="{ 'is-invalid': mobilePhoneSubmitted && m.phone?.errors }" [(ngModel)]="UserDetails.phone" [ngModelOptions]="{standalone: true}" id="Phone">
                                                                <div *ngIf="mobilePhoneSubmitted && m.phone?.errors" class="invalid-feedback">
                                                                  <div *ngIf="m.phone?.errors.required">
                                                                     Phone  is required</div>
                                                                     <div *ngIf="m.phone.errors.minlength">Phone number must be at least 10-12 numbers with country
                                                                      code</div>
                                                                </div>
                                                                <label class="emailLable number home" for="exampleInputPassword1">Home Phone*</label>
                                                            </div>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="defaultCheckedDisabled2">
                                                                <label class="custom-control-label" for="defaultCheckedDisabled2">
                                                                  Yes, I would like to receive notifications via text message
                                                                   </label>
                                                            </div>
                                                            <div class="emailbtns">
                                                                <div class="cancles">
                                                                  <a> <button type="button" class="cancle-btn" (click)="acc.toggle('otp-sidebar3')">Cancel</button></a>
                                                                  <!-- <a data-toggle="collapse" href="#otp-sidebar3" role="button" aria-expanded="false" aria-controls="otp-sidebar"> <button class="cancle-btn">Cancel</button></a> -->
                                                                </div>
                                                                <div class="saves">
                                                                  <a href="#"> <button class="save-btn" type="submit">Save</button></a>
                                                                    <!-- <a href="#"> <button class="save-btn" (click)="submit('Mobile Phone and Home Phone',UserDetails.mobilePhone)">Save</button></a> -->
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-panel>


                            </ngb-accordion>
                            <div class="signoutBtn">

                                <div class="svgFile"> <span><svg xmlns="http://www.w3.org/2000/svg" width="17.099" height="15.389" viewBox="0 0 17.099 15.389">
                                    <path id="Path_2161" data-name="Path 2161" d="M14.824,6.42,13.619,7.625,15.825,9.84H7.13v1.71h8.695l-2.206,2.206,1.205,1.214L19.1,10.695ZM3.71,4.71h6.84V3H3.71A1.715,1.715,0,0,0,2,4.71V16.679a1.715,1.715,0,0,0,1.71,1.71h6.84v-1.71H3.71Z" transform="translate(-2 -3)" fill="#333"/>
                                    </svg></span></div>
                                <div class="svgBtn">
                                    <button (click)="logout()" > Sign Out</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-4 enrollment-pages profile-page  col-lg-pull-4 ">
                <div class="enrollment-page profile-page">
                    <div class="showsidebar toggle-sidebar hidden-lg">
                        <div class="cart-sidebar sidebar-collapse">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
