.content-head-order .total-amount-order {
    text-align: right;
    padding-top: 8px;
    font-size: 18px;
}

.content-head-order .total-amount-order span.amount-num {
    margin-left: 5px;
}

section.account-page.grid-checkout button.view-invoice-btn {
    border: 1px solid #1cb1c5;
    border-radius: 30px;
    width: 100%;
    padding: 5px 33px;
    background: transparent;
    color: #1cb1c5;
    text-transform: uppercase;
}

section.account-page.grid-checkout button.trck-order-btn {
    width: 100%;
    padding: 6px 36px;
    background: #1cb1c5;
    color: white;
    border-radius: 30px;
    border: 1px solid #1cb1c5;
    text-transform: uppercase;
}

.pagination-points ul.pagination {
    justify-content: end;
}

.pagination-points ul.pagination li a {
    font-size: 18px;
    color: #8b8b8b;
}

.pagination-points ul.pagination a.page-link {
    border: none;
}

.pagination-points ul.pagination li a {
    background: transparent;
}

.trackOrder.ng-star-inserted {
    display: block !important;
}

@media screen and (max-width: 700px) {}