section {
    background: #fff;
}
.content-banner-slider {
    position: absolute;
    z-index: 9999;
    top: 50%;
    width: 100%;
    text-align: center;
}

.slider-wrapper {
    position: relative;
}

.content-banner-slider h3 {
    color: #fff;
    font-family: 'g-light';
    font-size: 60px;
    margin-bottom: 50px;
    font-weight: 200;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

.content-banner-slider a.btn-learn {
    background-color: #1cb1c5;
    padding: 8px 50px;
    color: #fff;
    border-radius: 28px;
    font-size: 14px;
    font-family: 'g-regular';
    text-transform: uppercase;
}


section.best-selller {
    padding: 50px 0;
}

section.best-selller h3 {
    text-align: center;
    margin-bottom: 48px;
    font-family: 'g-regular';
    font-size: 60px;
    color: rgba(0 0 0/0.8);

}

.seller-wrapper {
    position: relative;
    padding: 10px;
}

.seller-wrapper .content-info-image {
    position: absolute;
    bottom: 0px;
    z-index: 999;
    padding: 10px;
    text-align: center;
    width: 100%;
    left: 0;
}
.seller-wrapper .content-info-image .price-seller{
    font-size: 20px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.35);
}

.seller-wrapper .content-info-image h4 {
    font-family: 'g-demibold';
    font-size: 24px;
    max-width:100%;
    margin: 0 auto 6px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.35);
}

.seller-wrapper .content-info-image p.price-seller {
    color: #fff;
}

.img-set-safe img {
    width: 100%;
}

section.safe-affective {
    background-color: #E9F2EF;
    padding: 70px 0 90px;
}

.content-safe {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-safe h3 {
    font-family: 'g-light';
    font-size: 60px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 30px;
}
.content-safe ul.feature-safeffective {
    list-style-type: none;
    padding: 0;
    max-width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin:20px 0 40px 0;
}

.content-safe ul.feature-safeffective li {
    text-align: center;
}

.content-safe ul.feature-safeffective li span.circl-safeffective {
    width: 80px;
    height: 80px;
    border: 1px solid rgba(0 0 0/0.8);
    position: relative;
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
}

.content-safe ul.feature-safeffective li p.sub-title-safeff {
    font-size: 14px;
    font-family: 'g-bold';
    font-weight: 500;
    color: rgba(0 0 0/0.6);
    max-width: 150px;
}

.content-safe a,.content-banner-slider .btn {
    background-color: #1cb1c5;
    color: #fff;
    font-size: 14px;
    padding: 8px 40px;
    text-transform: uppercase;
    border-radius: 30px;
    border-radius: 28px;
    box-shadow: 0 8px 8px 0 rgb(0 0 0 / 16%);
    width: 246px;
    height: 56px;
    line-height: 38px;
    letter-spacing: 1.25px;
}

section.impact-strengthen {padding: 60px 0;}

section.impact-strengthen .content-safe h3 {
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.2;
    font-size: 60px !important;
    max-width: 100% !important;
    margin-bottom: 20px;
    
}
section.impact-strengthen p {
    text-align: center;
    max-width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0px;
}
section.impact-strengthen .sec-content{
    margin-bottom: 50px;
}
.impact-strengthen .content-safe{
    padding-right: 40px;
}

section.impact-strengthen .content-safe a.btn-learnmore {
    font-size: 16px;
    padding: 9px 30px;
}

ul.rating-star li img {
    width: 100%;
    max-width: 14px;
}

ul.rating-star {list-style-type: none;padding: 0;}

ul.rating-star li {
    display: inline-block;
}

ul.rating-star li:not(:first-child) {
    margin-left: 5px;
}

.bottom-stars-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


section.testimonial-home {
    background-color: #E9EFF2;
    padding: 60px 0;
}

section.testimonial-home h3 {
    text-align: center;
    font-size: 45px;
    font-family: 'g-light';
    margin-bottom: 30px;
    color: rgba(0 0 0/0.8);
}

.testimonial-wrapper {
    background-color: #fff;
    padding: 20px;
}

.testimonial-wrapper h4 {
    font-size: 34px;
    color: rgba(0, 0, 0,0.87);
    font-weight: 600;
    min-height: 88px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.testimonial-wrapper p.testimonial-text {
    font-size: 16px;
    min-height: 140px;
    font-weight: 500;
    font-family: 'g-bold';
    color: rgba(0, 0, 0, 0.6);
}

.testimonial-outer {
    padding: 10px;
}

.bottom-stars-info ul.rating-star li svg {
    width: 20px !important;
}

.testimonial-wrapper .client-name h5 {
    font-size: 24px;
    color: rgba(0, 0, 0,0.87);
    font-family: 'g-bold';
}

.testimonial-home.testi-home-wrap .owl-carousel .owl-stage-outer{
    overflow: inherit;
}

section.wink-energy {
    padding: 60px 0;
}

section.wink-energy .content-safe h3 {
    max-width: 100% !important;
    font-size: 60px !important;
    color: rgba(0, 0, 0,0.87) !important;
    line-height: 1.2;
    margin-bottom: 20px;
}

section.wink-energy .content-safe p {
    text-align: center;
    max-width: 400px;
    color: rgba(0, 0, 0,0.87) !important;
    font-size: 20px;
    font-family: 'g-demibold';
}
section.wink-energy .content-safe .sec-content{
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 0.6) !important;
}
section.instagram-posts {
    padding: 10px 0 40px;
}

section.instagram-posts h3 {
    text-align: center;
    font-size: 60px;
    font-family:'g-light';
    color: rgba(0, 0, 0, 0.87) !important;
    margin-bottom: 50px;
}

ul.testimonial-images {
    list-style-type: none;
    padding: 0;
}

ul.testimonial-images li {
    display: block;
    width: calc(20% - 26px);
    float: left;
}

/* ul.testimonial-images li:not(:first-child) {
    margin-left: 25px;
} */

ul.testimonial-images li img {
    width: 100%;
}

section.testimonial-home.testi-home-wrap h3{
   font-size: 60px !important;
   color: rgba(0, 0, 0, 0.87);
   margin-bottom: 40px;
}

/*MEDIA */

@media (max-width:991px)
{
    section.impact-strengthen .content-safe h3 {
        font-size: 34px !important;
        line-height: 43px !important;
        margin-bottom: 15px !important;
    }
    section.impact-strengthen .content-safe h3 br{
        display: none;
    }
    .content-safe a {
        font-size: 14px;
        width: auto;
        height: 36px;
        line-height: 18px;
        letter-spacing: 1.25px;
    }
    .content-safe ul.feature-safeffective {
       margin-bottom: 20px;
    }
    section.safe-affective {
        background-color: #E9F2EF;
        padding: 60px 0 90px;
    }
    .impact-strengthen .content-safe{
        padding-right: 0px;
    }
    section.impact-strengthen .sec-content{
        font-size: 16px;
        margin-bottom: 20px;
    }
    section.testimonial-home.testi-home-wrap h3{
        font-size: 34px !important;
        color: rgba(0, 0, 0, 0.87);
        margin-bottom: 20px;
    }
    section.wink-energy .content-safe h3 {
        font-size: 34px !important;
        color: rgba(0, 0, 0,0.87) !important;
    }
    section.wink-energy .content-safe .sec-content{
        font-size: 16px;
        margin-bottom: 30px;
    }
    .testimonial-wrapper h4{
        font-size: 24px;
        min-height: 40px;
    }
    .testimonial-wrapper .client-name h5 {
        font-size: 20px;
    }
    .testimonial-wrapper p.testimonial-text {
        font-size: 14px;
    }
    section.instagram-posts div h3 {
        font-size: 34px !important;
        color: rgba(0, 0, 0, 0.87) !important;
        margin-bottom: 20px;
    }
    .content-banner-slider a.btn.btn-learn {
        font-size: 14px !important;
        padding: 8px 40px !important;
        width: auto;
        max-width: 100%;
        height: 36px;
        line-height: 18px;
        letter-spacing: 1.25px;

    }
    .content-banner-slider h3{
        font-size: 60px !important;
    }
    
}

@media (max-width:767px)
{
    section.impact-strengthen .col-md-6:first-child {
        order: 2;
    }
    .content-banner-slider {
        transform: translate(-50%,-50%);
        left: 50%;
    }

    .content-banner-slider h3 {
        font-size: 34px !important;
        margin: 0 0 20px 0 !important;
    }

    section.wink-energy .content-safe h3 {
        font-size: 34px !important;
        max-width: 150px;
        margin: 0 auto 40px;
        margin-bottom: 20px;
    }

    ul.feature-safeffective {
        flex-direction: column !important;
        align-items: center;
    }

    ul.feature-safeffective li {
        display: flex;
        align-items: center;
        text-align: left !important;
        margin-bottom: 30px;
    }

    ul.feature-safeffective li p.sub-title-safeff {
        margin-left: 20px;
        margin-bottom: 0px;
    }

    ul.feature-safeffective li span.circl-safeffective {
        width: 70px !important;
        height: 70px !important;
        margin: 0 !important;
    }
    section.best-selller {
        float: left;
        width: 100%;
    }

    section.safe-affective {
        float: left;
        width: 100%;
    }

    section.impact-strengthen {
        width: 100%;
        float: left;
        padding: 50px 0;
    }

    section.safe-affective .content-safe {
        margin: 20px 0 0px 0;
    }

    section.impact-strengthen p {
        text-align: center;
    }

    section.impact-strengthen .content-safe h3 {
        font-size: 35px !important;
    }

    /* ul.testimonial-images li {
        width: calc(50% - 15px) !important;
    } */

    ul.testimonial-images li {
        margin-left: 0px !important;
        padding: 6px;
    }

    .content-safe {
        margin-top: 30px;
    }
    footer .footer-menus h4 {
        margin-bottom: 4px !important;
    }
    .instagram-posts ul.testimonial-images li {
        max-width: 50%;
    }

}

@media (max-width:640px)
{
    section.instagram-posts h3 {
        font-size: 28px !important;
    }
}

@media (min-width:769px){
    .seller-wrapper .content-info-image h4{
        font-size: 34px;
    }
    .seller-wrapper .content-info-image .price-seller{
        font-size: 24px;
        font-weight: 500;
    }
}
@media (max-width:768px){
    .best-selller .custom-container{
        padding-left: 0px;
        padding-right: 0px;
    }

}
.custom-container{
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

.instagram-posts ul.testimonial-images {
    list-style-type: none;
    padding: 0;
    margin: 0 -8px;
}

.wink-energy .container,
 .instagram-posts .container{
    max-width: 1280px;
    width: 100%;
}

ul.testimonial-images li {
    display: block;
    width: 100%;
    float: left;
    max-width: 20%;
    margin: 0;
    padding: 8px;
  }

