<section class="address-page grid-checkout paymentPage">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 address-paged  col-lg-push-8">
                <div class="enrollment-righ addresses-page paymentPage">
                    <div class="enrollment-main-div">
                        <div class="enrollment-steps-5 addressed paymentPage">
                            <h1 class="profileField">Payments</h1>
                            <div class="payment-wallets">
                                <h4>Your Credit Cards</h4>
                            </div>

                            <ngb-accordion activeIds="">
                                <ngb-panel id="promo-sidebar1">
                                    <ng-template ngbPanelTitle>
                                        <div class="heading-step1 profile-section">
                                            <h4> Primary Card</h4>
                                            <span class="highlight-info">Visa ending in 1111</span>
                                            <span class="vali-promo"> </span>
                                            <span class="arrow-stepp">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6.6"
                                                height="11.2" viewBox="0 0 6.6 11.2">
                                                <path id="Path_2044" data-name="Path 2044"
                                                    d="M630.9,4.7a.967.967,0,0,0,0,1.4l3.9,3.9-3.9,3.9a.99.99,0,0,0,1.4,1.4l4.6-4.6a.967.967,0,0,0,0-1.4l-4.6-4.6A.967.967,0,0,0,630.9,4.7Z"
                                                    transform="translate(-630.6 -4.4)" />
                                            </svg>
                                        </span>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <div class="addresTwo ">
                                            <span>Amanda Hall</span><br>
                                            <span>564 w 700</span><br>
                                            <span>Orem, UT 84025</span>
                                        </div>
                                        <div class="emailbtns secondarybtn">
                                            <div class="cancles">
                                                <a href="#"> <button class="cancle-btn">Edit Address</button></a>
                                            </div>
                                            <div class="delete">
                                                <a href="#"> <i class="fas fa-trash"> <span> Delete</span></i></a>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-panel>

                                <ngb-panel id="promos-sidebar1">
                                    <ng-template ngbPanelTitle>
                                        <div class="heading-step1 profile-section">
                                            <h4>Add New Card</h4>
                                            <span class="highlight-info">Click to Add</span>
                                            <span class="vali-promo"> </span>
                                            <span class="arrow-stepp">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6.6"
                                                height="11.2" viewBox="0 0 6.6 11.2">
                                                <path id="Path_2044" data-name="Path 2044"
                                                    d="M630.9,4.7a.967.967,0,0,0,0,1.4l3.9,3.9-3.9,3.9a.99.99,0,0,0,1.4,1.4l4.6-4.6a.967.967,0,0,0,0-1.4l-4.6-4.6A.967.967,0,0,0,630.9,4.7Z"
                                                    transform="translate(-630.6 -4.4)" />
                                            </svg>
                                        </span>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbPanelContent>

                                        <div class="content-card steps-inner shipping-address-form">
                                            <ul class="card-mat">
                                                <li><img src="../../assets/card-ui-1.png" /></li>
                                                <li><img src="../../assets/card-ui-2.png" /></li>
                                                <li><img src="../../assets/card-ui-3.png" /></li>
                                                <li><img src="../../assets/card-ui-4.png" /></li>
                                                <li><span class="more-card">and more</span></li>
                                            </ul>
                                            <div class="card-infoo">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <input type="text" formControlName="cardName" placeholder="Name on card" name="card-name" class="form-control" [ngClass]="{ 'is-invalid': paymentSubmitted && p.cardName?.errors }" />
                                                            <div *ngIf="paymentSubmitted && p.cardName?.errors" class="invalid-feedback">
                                                                <div *ngIf="p.cardName?.errors.required">Card Name is required</div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <input type="text" formControlName="cardNumber" [showMaskTyped]="false" [dropSpecialCharacters]="false" mask="0000 0000 0000 0000" (change)="creditCardValidator($event)" placeholder="Card number" name="cardNumber" class="form-control" [ngClass]="{ 'is-invalid': paymentSubmitted && p.cardNumber?.errors }"
                                                            />
                                                            <div *ngIf="paymentSubmitted && p.cardNumber?.errors" class="invalid-feedback">
                                                                <div *ngIf="p.cardNumber?.errors.required">Card Number is required</div>
                                                                <div *ngIf="p.cardNumber.errors.minlength">Card Number must be at least 14 numbers </div>
                                                            </div>
                                                            <div *ngIf="cardvalidate" class="cardvalidateerror">
                                                                <div *ngIf="cardvalidate">Card Number is not valid
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <input type="text" formControlName="expiryMonth" [(ngModel)]="checkMonth" (change)="validateCard()" [showMaskTyped]="false" [dropSpecialCharacters]="false" mask="00" placeholder="Month" name="expiryMonth" class="form-control" [ngClass]="{ 'is-invalid': paymentSubmitted && p.expiryMonth?.errors }"/>
                                                            <div *ngIf="paymentSubmitted && p.expiryMonth?.errors" class="invalid-feedback">
                                                                <div *ngIf="p.expiryMonth?.errors.required">
                                                                    Expiry Month is required</div>
                                                                <div *ngIf="p.expiryMonth.errors.pattern">
                                                                    Invalid Month
                                                                  </div>
                                                            </div>
                                                            <div *ngIf="monthError" class="invalid-feedback-customclass">
                                                                <div *ngIf="monthError">Month is not valid</div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <input type="text" formControlName="expiryYear" [(ngModel)]="checkYear" (change)="validateCard()" placeholder="Year" name="expiryYear" [showMaskTyped]="false" [dropSpecialCharacters]="false" mask="0000" class="form-control" [ngClass]="{ 'is-invalid': paymentSubmitted && p.expiryYear?.errors }"
                                                            />
                                                            <div *ngIf="paymentSubmitted && p.expiryYear?.errors" class="invalid-feedback">
                                                                <div *ngIf="p.expiryYear?.errors.required">
                                                                    Expiry Year is required</div>
                                                            </div>
                                                            <div *ngIf="yearError" class="invalid-feedback-customclass">
                                                                <div *ngIf="yearError">Year is not valid</div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <input type="text" formControlName="cardCVV" placeholder="CVV" name="cardCVV" [showMaskTyped]="false" [dropSpecialCharacters]="false" mask="000" class="form-control" [ngClass]="{ 'is-invalid': paymentSubmitted && p.cardCVV?.errors }" />
                                                            <div *ngIf="paymentSubmitted && p.cardCVV?.errors" class="invalid-feedback">
                                                                <div *ngIf="p.cardCVV?.errors.required">card CVV is required</div>

                                                            </div>
                                                            <div class="req">
                                                                <label class="control-label visible-xs required requiredField" for="Customer_MainAddress_City"></label>
                                                            </div>
                                                            <input type="text" formControlName="cardCVV" placeholder="Street Address" name="cardCVV" [showMaskTyped]="false" [dropSpecialCharacters]="false" mask="000" class="form-control" [ngClass]="{ 'is-invalid': paymentSubmitted && p.cardCVV?.errors }" />
                                                            <div *ngIf="paymentSubmitted && p.cardCVV?.errors" class="invalid-feedback">
                                                                <div *ngIf="p.cardCVV?.errors.required">Street Address</div>

                                                            </div>
                                                            <div class="req">
                                                                <label class="control-label visible-xs required requiredField" for="Customer_MainAddress_City"></label>
                                                            </div>


                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <input type="text" formControlName="expiryMonth" mask="00" placeholder="City" name="expiryMonth" class="form-control" />
                                                                        <div class="invalid-feedback-customclass">
                                                                            <div *ngIf="monthError">Month is not valid</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <input type="text" formControlName="expiryYear" placeholder="State" name="expiryYear" mask="0000" class="form-control" />

                                                                        <div *ngIf="paymentSubmitted && p.expiryYear?.errors " class="invalid-feedback ">
                                                                            <div *ngIf="p.expiryYear?.errors.required ">
                                                                                Expiry Year is required</div>
                                                                        </div>
                                                                        <div *ngIf="yearError " class="invalid-feedback-customclass ">
                                                                            <div *ngIf="yearError ">Year is not valid</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <input type="text " formControlName="cardCVV " placeholder="ZIP " name="cardCVV " [showMaskTyped]="false " [dropSpecialCharacters]="false " mask="000 " class="form-control " [ngClass]="{
                                                                            'is-invalid': paymentSubmitted && p.cardCVV?.errors } " />
                                                            <div *ngIf="paymentSubmitted && p.cardCVV?.errors " class="invalid-feedback ">
                                                                <div *ngIf="p.cardCVV?.errors.required ">Zip</div>

                                                            </div>

                                                            <div class="req ">
                                                                <label class="control-label visible-xs required requiredField " for="Customer_MainAddress_City "></label>
                                                            </div>

                                                            <input type="text " formControlName="cardCVV " placeholder="Country " name="cardCVV " [showMaskTyped]="false " [dropSpecialCharacters]="false " mask="000 " class="form-control " [ngClass]="{
                                                                            'is-invalid': paymentSubmitted && p.cardCVV?.errors } " />
                                                            <div *ngIf="paymentSubmitted && p.cardCVV?.errors " class="invalid-feedback ">
                                                                <div *ngIf="p.cardCVV?.errors.required ">Country</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="primaryBtn">
                                                <input type="checkbox"> <strong>Make  Primary Card</strong>
                                            </div>

                                            <div class="saveWraper">
                                                <div class="saves">
                                                    <a href="#"> <button class="save-btn">Save Changes</button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-panel>


                                <ngb-panel id="secondarycard{{i}}" *ngFor="let item of paymentCards;let i = index" >
                                    <ng-template ngbPanelTitle>
                                        <div class="heading-step1 profile-section">
                                            <h4> Secondary Card</h4>
                                            <span class="highlight-info ">{{item.cardNumber}}</span>
                                            <span class="vali-promo "> </span>
                                            <span class="arrow-stepp ">
                                            <svg xmlns="http://www.w3.org/2000/svg " width="6.6 "
                                                height="11.2 " viewBox="0 0 6.6 11.2 ">
                                                <path id="Path_2044 " data-name="Path 2044 "
                                                    d="M630.9,4.7a.967.967,0,0,0,0,1.4l3.9,3.9-3.9,3.9a.99.99,0,0,0,1.4,1.4l4.6-4.6a.967.967,0,0,0,0-1.4l-4.6-4.6A.967.967,0,0,0,630.9,4.7Z "
                                                    transform="translate(-630.6 -4.4) " />
                                            </svg>
                                        </span>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <div class="addresTwo ">
                                            <span>{{item.billingAddress.address1}}</span><br>
                                            <span>{{item.billingAddress.address2}}</span><br>
                                            <span>{{item.billingAddress.city}}</span><br>
                                            <span>{{item.billingAddress.country}}</span><br>
                                            <span>{{item.billingAddress.state}}</span><br>
                                            <span>{{item.billingAddress.zip}}</span><br>

                                        </div>
                                        <div class="emailbtns secondarybtn">
                                            <div class="saves">
                                                <a href="#"> <button class="save-btn"> Make Primary</button></a>
                                            </div>
                                            <div class="cancles">
                                                <a href="#"> <button class="cancle-btn">Edit Address</button></a>
                                            </div>

                                            <div class="delete">
                                                <a href="#"> <i class="fas fa-trash"> <span> Delete</span></i></a>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                            <div class="payment-walletss ">
                                <h4>Your Wallets</h4>
                            </div>

                            <ngb-accordion activeIds=" "  >
                                <ngb-panel id="promo-sidebar1 ">
                                    <ng-template ngbPanelTitle>
                                        <div class="heading-step1 profile-section ">
                                            <h4>PayPal</h4>
                                            <span class="highlight-info ">Click to add</span>
                                            <span class="vali-promo "> </span>
                                            <span class="arrow-stepp ">
                                            <svg xmlns="http://www.w3.org/2000/svg " width="6.6 "
                                                height="11.2 " viewBox="0 0 6.6 11.2 ">
                                                <path id="Path_2044 " data-name="Path 2044 "
                                                    d="M630.9,4.7a.967.967,0,0,0,0,1.4l3.9,3.9-3.9,3.9a.99.99,0,0,0,1.4,1.4l4.6-4.6a.967.967,0,0,0,0-1.4l-4.6-4.6A.967.967,0,0,0,630.9,4.7Z "
                                                    transform="translate(-630.6 -4.4) " />
                                            </svg>
                                        </span>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <div class="emailbtns paypall">
                                            <div class="saves paypal">
                                                <a href="#"> <button class="save-btn"> <i> PayPal</i></button></a>
                                            </div>
                                            <div class="cancles">
                                                <a href="#"> <button class="cancle-btn">Disconnect PayPal</button></a>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
