<section class="search-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header-searchbar">
          <div class="head-search">
            <h4>Search Products</h4>
          </div>
          <div class="searchOption-inner">
            <input class="form-control" type="text" [(ngModel)]="searchText" name="search"
              placeholder="Search Product"  (keyup.enter)="getSearchProduct()"/>
            <button type="button"  (click)="getSearchProduct()" class="search-ico">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="products search-results">
  <div class="container">
    <div class="row mt-2 prod-wrapp">
      <div *ngIf="shopProductModels.length == 0; then thenBlock else elseBlock"> </div>
      <ng-template #thenBlock>
        <h3>No Products Found</h3>
      </ng-template>
      <ng-template #elseBlock>
      <div class="col-md-3 prod-list-item" *ngFor="let product of shopProductModels">
        <div class="card">
          <img [src]="product.image_03" class="card-img-top" alt="products-sample" />
          <div class="card-body">
            <div class="product-details">
              <h5 class="card-title">{{ product.itemDescription }}</h5>
              <h6 class="small">Perfect for ages 3+</h6>
              <div class="reviews-product">

                <div [attr.data-product-id]="product.itemID" class="yotpo bottomLine">
                </div>
                <yotpo-star-rating productId="718" style="display: none;">
                </yotpo-star-rating>
                <!-- <ul>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                </ul>
                <p>704 REVIEWS</p> -->
              </div>
              <div class="prod-price">
                <span class="price-value">${{product.price}}</span>
              </div>
              <span class="more-info">
                <a (click)="open(produt_view, product)" class="btn btn-add"><i class="fas fa-plus"></i></a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    </div>
  </div>
</section>

<!--- SHop MOdal --->
<ng-template #produt_view let-modal>
  <div class="model-productview">
    <form>
      <div class="modal-body">
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <svg
            id="Icon_Close_Rounded"
            data-name="Icon / Close / Rounded"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <g id="Icon_Close_Rounded-2" data-name="Icon / Close / Rounded">
              <rect id="Box" width="24" height="24" fill="none" />
              <path
                id="Path_2016"
                data-name="Path 2016"
                d="M111.8,3.3a.967.967,0,0,0-1.4,0l-4.9,4.9-4.9-4.9a.99.99,0,0,0-1.4,1.4l4.9,4.9-4.9,4.9a.99.99,0,0,0,1.4,1.4l4.9-4.9,4.9,4.9a.99.99,0,1,0,1.4-1.4l-4.9-4.9,4.9-4.9A.967.967,0,0,0,111.8,3.3Z"
                transform="translate(-94 2)"
                fill="#fff"
              />
            </g>
          </svg>
        </button>
        <div class="card">
          <div class="product-view-image">
            <!-- <img src="../../assets/product-view-sample.png" class="card-img-top" alt="products-sample"> -->
            <img
              [src]="product.image_03"
              class="card-img-top"
              alt="products-sample"
            />
            <a
              routerLinkActive="active"
              (click)="RedirectToProduct(product)"
              class="btn btn-learn"
              >Learn More</a
            >
          </div>
          <div class="card-body">
            <div class="product-details">
              <h5 class="card-title">{{ product?.itemDescription }}</h5>
              <div class="reviews-product">
                <div [attr.data-product-id]="product.itemID" class="yotpo bottomLine">
                </div>
                <yotpo-star-rating productId="718" style="display: none;">
                </yotpo-star-rating>
                <!-- <ul>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                </ul>
                <p>704 REVIEWS</p> -->
              </div>
              <h6 class="small">Perfect for ages 3+</h6>
              <div class="product-info">
                <p>
                  Take the battle out of bedtime! Our Kids Sleep Melts are
                  formulated with high-quality melatonin and natural ingredients
                  to help your little one get the kind of sleep they need.
                </p>
              </div>
              <div class="prod-bundle-select">
                <h3>Select Bundle</h3>
                <!-- <div *ngFor="let bundle of bundles" class="radio-bundle">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="{{bundle.id}}"
                      value="{{bundle.value}}"
                      (change)="checkBundle(bundle.value,product.price)"
                      checked
                    />
                    <label class="form-check-label" for="{{bundle.id}}"
                      >{{bundle.name}}</label
                    >
                  </div>
                </div> -->

                  <div class="radio-bundle">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="1"
                      value="single"
                      (change)="checkBundle('single',product.price)"
                      checked
                    />
                    <label class="form-check-label" for="1"
                      >Single</label
                    >
                  </div>
                </div>
                <div class="radio-bundle">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="2"
                      value="multiple"
                      (change)="checkBundle('multiple',product.price)"
                    />
                    <label class="form-check-label" for="2"
                      >2-pk (Save 5%)</label
                    >
                  </div>
                </div>
              </div>
              <div class="prod-bundle-select mt-0 delivery-radio">
                <h3>Select Delivery</h3>
                <!-- <div *ngFor="let type of cartTypes; let i = index" class="radio-bundle">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptionsdelivery"
                      id="{{i}}{{type}}"
                      value="{{type}}"
                      (change)="checkDelivery(type)"
                    />
                    <label class="form-check-label" for="{{i}}{{type}}"
                      >{{type == 0 ? 'Single Delivery' : 'Subscribe & Save 15%'}}</label>
                  </div>
                </div> -->

                <div class="radio-bundle">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptionsdelivery"
                      id="3"
                      value="0"
                      (change)="checkDelivery(0)"
                      checked
                    />
                    <label class="form-check-label" for="3"
                      >Single Delivery</label>
                  </div>
                </div>

                <div class="radio-bundle">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptionsdelivery"
                      id="4"
                      value="1"
                      (change)="checkDelivery(1)"
                    />
                    <label class="form-check-label" for="4"
                      >Subscribe & Save 15%</label>
                  </div>
                </div>

              </div>
              <div class="custom-shiping">
                <h3>Customize Shipment</h3>
                <div class="choose-shipping">
                  <div class="form-group">
                    <select [(ngModel)]="quantityValue"  [ngModelOptions]="{standalone: true}" class="form-control">
                      <option class="dropdown-item" disabled selected value="undefined">Select Quantity</option>
                      <option *ngFor="let qty of quantity" [value]="qty.value">
                      {{qty.value}}
                       </option>
                    </select>

                    <!-- <select  [ngModel]="quantityValue" class="form-control">
                      <option class="dropdown-item" disabled selected value="undefined">Select Quantity</option>
                      <option *ngFor="let tech of quantity" [ngValue]="tech">
                       {{ tech.name }}
                      </option>
                    </select> -->

                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 7.171 4.6"
                    >
                      <path
                        id="Path_2028"
                        data-name="Path 2028"
                        d="M342.6,9.4l2.6,2.6a.967.967,0,0,0,1.4,0l2.6-2.6a1,1,0,0,0-.7-1.7h-5.2A1,1,0,0,0,342.6,9.4Z"
                        transform="translate(-342.315 -7.7)"
                      />
                    </svg>
                  </div>
                  <div *ngIf="showSubscription" class="form-group">
                    <select (change)="getYearValue($event.target.value)" class="form-control">
                      <!-- <option class="dropdown-item" disabled value="undefined">Select</option>     -->
                      <option [value]="undefined"  selected="true">Select</option>
                      <option *ngFor="let year of years" [value]="year.value">
                      {{year.name}}
                       </option>
                    </select>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 7.171 4.6"
                    >
                      <path
                        id="Path_2028"
                        data-name="Path 2028"
                        d="M342.6,9.4l2.6,2.6a.967.967,0,0,0,1.4,0l2.6-2.6a1,1,0,0,0-.7-1.7h-5.2A1,1,0,0,0,342.6,9.4Z"
                        transform="translate(-342.315 -7.7)"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="cart-btn">
                <button
                  type="submit"
                  (click)="addToCart(product)"
                  class="btn btn-cart">
                  ${{ product.price }} ADD
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
