header nav {
    box-shadow: 0px 0px 5px #c1c1c1;
}

div#main-menu {
    justify-content: space-between !important;
}

div#main-menu li a {
    font-family: "g-demibold";
    text-transform: uppercase;
    color: #2aa8bf;
}

div#main-menu li {
    margin-right: 10px;
}

ul.right-menu {
    list-style-type: none;
    margin: 0;
}

ul.right-menu li {
    display: inline-block;
}

ul.right-menu li a {
    text-decoration: none;
}

header a.navbar-brand img {
    max-width: 90px;
}

ul.right-menu li a.log-links {
    cursor: pointer;
}

.navbar-toggler i {
    font-size: 26px;
    color: #707070;
}

div#main-menu.active {
    position: absolute;
    top: 130px;
    background-color: #fff;
    width: 100%;
    z-index: 999;
    left: 0px;
    padding: 10px;
}

ul.right-menu li {
    position: relative;
}

ul.right-menu li a {
    position: relative;
}

ul.right-menu li a span.cart-info {
    width: 9px;
    height: 9px;
    background-color: #ff0000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 7px;
    font-size: 9px;
    font-family: 'g-medium';
    border: 2px solid #ffffff;
    position: absolute;
    top: -6px;
    left: 8px;
    color: #fff;
}

ul.right-menu li.cart-item {
    margin: 0 15px 0 0px !important;
}

ul.right-menu li a i {
    font-size: 17px;
}

ul.right-menu li i.fas.fa-user-circle {
    font-size: 19px;
}

.searchOptions {
    position: relative;
}

.search-ico {
    position: absolute;
    top: 17px;
    right: 24px;
    border: none;
    background-color: transparent;
}

.search-ico i {
    color: #b0b0b0;
}

.searchOptionsbox {
    position: absolute;
    width: 100%;
    background-color: #ffffffd4;
    left: 0;
    top: 0;
}

.searchOptionsbox .searchOption-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    margin: 0 auto;
    padding: 6px 20px 4px;
    position: relative;
}

.searchOptionsbox .close-ico {
    position: absolute;
    right: 10px;
    top: 15px;
}

.searchOptionsbox .searchOption-inner input {
    height: 45px;
}

.searchOptions input {
    padding-right: 30px;
}

.searchbar {
    position: relative;
}

.searchbar input {
    border-radius: 30px;
    min-width: 220px;
    width: 100%;
    padding: 6px 15px 6px 40px;
    border: none;
    background-color: #80808017;
}

.searchbar i {
    position: absolute;
    top: 11px;
    left: 18px;
    color: #b3b3b3;
}

@media(min-width:992px) {
    .logo-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #main-menu.show-mob {
        display: none;
    }
}

a.nav-link.active {
    background: #2aa8bf;
    color: #020202 !important;
    border-radius: 4px;
}

@media (max-width:991px) {
    .searchbar {
        position: absolute;
        width: 100%;
        left: 0px;
        z-index: 9;
        background-color: #fff;
        top: 0px;
        padding: 10px 30px;
    }
    .searchbar i.fa-search {
        left: auto !important;
        right: 50px;
        top: 21px !important;
    }
    .searchbar i.fa-times {
        left: 50px !important;
        right: auto;
        top: 21px !important;
    }
    div#main-menu li.mob-search {
        margin: 0 !important;
        padding: 8px 10px;
    }
    div#main-menu.showmenu {
        position: absolute;
        top: 54px;
        background-color: #ffffff;
        z-index: 2;
        left: 0px;
        width: 100%;
        transition: all ease 0.5s;
        padding-bottom: 25px;
        box-shadow: 0px 13px 7px -6px #d5d1d1;
    }
    header .logo-center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    header button.navbar-toggler i {
        color: #2aa8bf !important;
    }
    div#main-menu.showmenu ul li a {
        background-color: #fff;
        padding: 10px 10px;
        border-radius: 0px;
        color: #2aa8bf !important;
    }
    div#main-menu.showmenu ul li a.active {
        color: #1cb1c5 !important;
    }
    div#main-menu.showmenu ul.right-menu {
        padding: 20px 6px;
    }
    div#main-menu.showmenu .logo-center {
        display: none;
    }
    div#main-menu.showmenu ul.right-menu li a {
        padding: 0 8px 0;
        border: none;
    }
    .searchOptionsbox {
        background-color: #fff;
    }
    .searchOptionsbox .searchOption-inner {
        max-width: 280px;
    }
    .searchOptionsbox .close-ico {
        z-index: 11;
    }
    .searchOptionsbox .close-ico a {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    ul.navbar-nav.other-links a {
        color: #2d9fb5;
        text-decoration: none;
        background-color: transparent;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
    }
    ul.navbar-nav.other-links {
        /* display: none; */
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 3px 5px 1px #6d6d6db0;
        top: 41px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        z-index: -1;
        left: -40px;
        min-width: 200px;
        width: 100%;
        padding: 10px 0;
    }
    header {
        z-index: 999;
        position: relative;
    }
    ul.navbar-nav.other-links li.nav-item {
        margin: 0 !important;
    }
    ul.navbar-nav.other-links li a {
        padding: 8px 14px !important;
    }
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
}