<header>
    <nav class="navbar navbar-expand-lg start-demo-tour">
        <div class="container">
            <div class="logo-center">
                <a class="navbar-brand" [routerLink]="['']" [routerLinkActive]="['active']"><img src="../../assets/logo-wink.png" /></a>
            </div>
            <button (click)="toggleDisplayDivIf()" [className]="isMobileMenu ?  'toggleclicked navbar-toggler' : 'toggleunclicked navbar-toggler'" type="button" data-bs-toggle="collapse" data-bs-target="#main-menu" aria-controls="main-menu" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <div id="main-menu" class="show-mob">
                <ul class="right-menu ">
                    <!-- <li><a (click)="searchProduct()"><i class="fa fa-search"></i></a></li> -->

                    <li><a (click)="searchProducts()"><i class="fa fa-search"></i></a>
                    </li>

                    <li class="cart-item"><a [routerLink]="['/store/cart']"><i class="fa fa-shopping-bag"></i>
                        <span *ngIf="cartItems" class="cart-info">{{cartItems}}</span></a></li>
                </ul>
                <div [className]="isSearchbarshow ?  'show_searchbar searchbar' : 'hide_searchbar searchbar'" *ngIf="isSearchbarshow">
                    <input type="text" class="form-control" />
                    <i class="fa fa-search"></i>
                    <a (click)="closebarSearch()"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <!-- <span (click)="RestartTour()" class="start-demo-tour"></span> -->
            <div class="collapse navbar-collapse d   " *ngIf="isDesktopMenu" id="main-menu">
                <ul class="navbar-nav">
                    <li class="nav-item Shop-demo-tour">
                        <a class="nav-link" [routerLink]="['/store']" [routerLinkActive]="['active']">Shop</a>
                    </li>
                    <li class="nav-item Blog-demo-tour">
                        <a class="nav-link" href="https://blog.winknaturals.com/" target=_blank [routerLinkActive]="['active']">Blog</a>
                    </li>
                    <li class="nav-item About-demo-tour">
                        <a class="nav-link" [routerLink]="['/about']" [routerLinkActive]="['active']">About</a>
                    </li>
                    <li class="nav-item Join-demo-tour">
                        <a class="nav-link" [routerLink]="['/enrollment']" [routerLinkActive]="['active']">Join</a>
                    </li>
                </ul>

                <div class="logo-center">
                    <a class="navbar-brand" [routerLink]="['']" [routerLinkActive]="['active']"><img src="../../assets/logo-wink.png" /></a>
                </div>
                <ul class="right-menu">
                    <li class="Search-demo-tour-class">
                        <div class="searchbar">
                            <input type="text" class="form-control" />
                            <i class="fa fa-search"></i>
                        </div>

                        <!-- <a [routerLink]="['/store/search-products']"></a> -->
                    </li>
                    <li class="cart-item Cart-Item-demo-tour-class"><a [routerLink]="['/store/cart']"><i
                                class="fa fa-shopping-bag"></i><span *ngIf="cartItems"
                                class="cart-info">{{cartItems}}</span></a></li>
                    <li><a class="button" (click)="show_submenus()"><i class="fas fa-user-circle"></i></a>
                        <ul *ngIf="isAccountMenus" [className]="isAccountMenus ?  'subshow navbar-nav other-links' : 'subhide navbar-nav other-links'">
                            <li class="nav-item Shop-demo-tour">
                                <a class="nav-link" [routerLink]="['account-settings/profile']" (click)="isAccountMenus=false;" [routerLinkActive]="['active']">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['account-settings/orders']" (click)="isAccountMenus=false;" [routerLinkActive]="['active']">Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['account-settings/payments']" (click)="isAccountMenus=false;" [routerLinkActive]="['active']">Payments</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['account-settings/addresses']" (click)="isAccountMenus=false;" [routerLinkActive]="['active']">Addresses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['account-settings/loyaltypoints']" (click)="isAccountMenus=false;" [routerLinkActive]="['active']">Loyalty Points</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['account-settings/subscriptions']" (click)="isAccountMenus=false;" [routerLinkActive]="['active']">Subscriptions</a>
                            </li>

                        </ul>

                    </li>

                    <li class="Login-demo-tour-class" *ngIf="!user"><a [routerLink]="['/sign-in']" class="log-links">SIGN IN</a></li>
                    <li class="LogOut-demo-tour-class" *ngIf="user"><a (click)="logout()" class="log-links">Log out</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse m" id="main-menu" *ngIf="isMobileMenu" [className]="toggleDisplayDivIf ?  'showmenu' : 'hidemenu'">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/store']" [routerLinkActive]="['active']" (click)="isMobileMenu=false;">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://blog.winknaturals.com/">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/about']" [routerLinkActive]="['active']" (click)="isMobileMenu=false;">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/enrollment']" [routerLinkActive]="['active']" (click)="isMobileMenu=false;">Join</a>
                    </li>
                    <li class="nav-item" *ngIf="!user"><a [routerLink]="['/sign-in']" class="log-links nav-link" (click)="isMobileMenu=false;">SIGN IN</a></li>
                    <!-- <li class="nav-item" *ngIf="user"><a (click)="logout()" class="log-links nav-link" (click)="isMobileMenu= false;">Log out</a></li> -->

                </ul>
                <ul class="navbar-nav other-links">
                    <li class="nav-item Shop-demo-tour">
                        <a class="nav-link" [routerLink]="['account-settings/profile']" [routerLinkActive]="['active']">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['account-settings/orders']" [routerLinkActive]="['active']">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['account-settings/payments']" [routerLinkActive]="['active']">Payments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['account-settings/addresses']" [routerLinkActive]="['active']">Addresses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['account-settings/loyaltypoints']" [routerLinkActive]="['active']">Loyalty Points</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['account-settings/subscriptions']" [routerLinkActive]="['active']">Subscriptions</a>
                    </li>

                </ul>
                <div class="logo-center">
                    <a class="navbar-brand" [routerLink]="['']" [routerLinkActive]="['active']"><img src="../../assets/logo-wink.png" /></a>
                </div>
            </div>

        </div>
    </nav>

</header>



<ngx-guided-tour></ngx-guided-tour>