<section class="address-page grid-checkout">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 address-paged  col-lg-push-8">
                <div class="enrollment-righ addresses-page">
                    <div class="enrollment-main-div">
                        <div class="enrollment-steps-5 addressed">
                            <h1 class="profileField">Addresses</h1>

                            <ngb-accordion activeIds="" #acc="ngbAccordion">
                                <ngb-panel id="promo-sidebar1" *ngFor="let address of addressess; let i = index">
                                    <ng-template ngbPanelTitle>
                                        <div class="heading-step1 profile-section">
                                            <h4> Primary Address</h4>
                                            <span class="highlight-info">{{ address.mainAddress1 }} {{ address.mainAddress2 }}</span>
                                            <span class="vali-promo"> </span>
                                            <span class="arrow-stepp">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6.6"
                                                height="11.2" viewBox="0 0 6.6 11.2">
                                                <path id="Path_2044" data-name="Path 2044"
                                                    d="M630.9,4.7a.967.967,0,0,0,0,1.4l3.9,3.9-3.9,3.9a.99.99,0,0,0,1.4,1.4l4.6-4.6a.967.967,0,0,0,0-1.4l-4.6-4.6A.967.967,0,0,0,630.9,4.7Z"
                                                    transform="translate(-630.6 -4.4)" />
                                            </svg>
                                        </span>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <form>
                                            <div class="addresTwo">
                                                <span> {{ address.mainAddress1 }} {{ address.mainAddress2 }}</span><br>
                                                <span>{{address.mainCity}}</span><br>
                                                <span>{{address.mainState}}{{ address.mainCounty}} {{address.mainZip}}</span>
                                            </div>
                                            <div class="emailbtns">
                                                <div class=" primary">
                                                    <a href="#"> <button class="primary-btn" (click)="open(produt_view,address)">Make Primary</button></a>
                                                </div>
                                                <div class="edit">
                                                    <a href="#"> <button class="edit-btn" (click)="open(produt_view,address)">Edit Address</button></a>
                                                </div>
                                                <div class="cancles">
                                                    <a href="#"> <button class="cancel-subscrp"><i class="fa fa-trash"></i>Delete</button></a>
                                                    <!-- <a> <button type="button" class="cancle-btn" (click)="acc.toggle('promo-sidebar1')">Cancel</button></a> -->
                                                    <!-- <a data-toggle="collapse" href="#promo-sidebar1" role="button" aria-expanded="false" aria-controls="promo-sidebar1"> <button class="cancle-btn">Cancel</button></a> -->

                                                    <!-- <a href="#"> <button class="cancle-btn">Cancel</button></a> -->
                                                </div>


                                            </div>
                                        </form>
                                    </ng-template>
                                </ngb-panel>

                                <ng-template #produt_view let-modal>
                                    <div id="view-logininformation-798275e4-d1dd-4d37-a977-497293c0fe5d">
                                        <form [formGroup]="editShippingAddressForm" (ngSubmit)="oneEditAddressSubmit()">
                                            <div class="row row mt-4 pl-4 pr-4 mb-4">
                                                <div class=" col-sm-12 pinfo text-center mb-3"><strong>Edit Address</strong></div>
                                                <div class=" col-sm-12 pinfo">
                                                    <input formControlName="streetAddress1" [(ngModel)]="address.mainAddress1" placeholder="Street address" [ngClass]="{ 'is-invalid': editShippingAddressForm && e.streetAddress1?.errors }" class="form-control personalInfo" data-role="Address1" data-val="true"
                                                        data-val-required="Street Address is required" id="Shippi" name="ShippingAddr" type="text" value="">
                                                    <!-- <span class="field-validation-valid" data-valmsg-for="ShippingAddress.Address1" data-valmsg-replace="true"></span> -->
                                                    <div *ngIf="editShippingAddressForm && e.streetAddress1.errors" class="field-validation-valid">
                                                        <div *ngIf="e.streetAddress1.errors.required">street Address is required</div>
                                                    </div>
                                                    <!-- <label for="form-label">Street address</label>  -->
                                                    <p></p>

                                                </div>
                                                <div class="cityndState">
                                                    <div class="col-sm-6">

                                                        <input class="form-control personalInfo" [(ngModel)]="address.mainCity" placeholder="City" formControlName="city1" [ngClass]="{ 'is-invalid': editShippingAddressForm && e.city1?.errors }" data-role="City" data-val="true" data-val-required="city is required"
                                                            id="Ship" name="ShippingAddre" type="text" value="">
                                                        <div *ngIf="editShippingAddressForm && e.city1.errors" class="field-validation-valid">
                                                            <div *ngIf="e.city1.errors.required">city is required</div>
                                                        </div>
                                                        <p></p>
                                                    </div>

                                                    <div class="col-sm-6">

                                                        <input class="form-control personalInfo" [(ngModel)]="address.mainState" placeholder="State" formControlName="state1" [ngClass]="{ 'is-invalid': editShippingAddressForm && e.state1?.errors }" data-role="state" data-val="true" data-val-required="state is required"
                                                            id="Shi" name="ShippingAddre" type="text" value="">
                                                        <!-- <span class="field-validation-valid" data-valmsg-for="ShippingAddress.state" data-valmsg-replace="true"></span> -->
                                                        <div *ngIf="editShippingAddressForm && e.state1.errors" class="field-validation-valid">
                                                            <div *ngIf="e.state1.errors.required">state is required</div>
                                                        </div>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class=" col-sm-12 pinfo">
                                                    <div>
                                                        <input class="form-control personalInfo" [(ngModel)]="address.mainZip" placeholder="Zip" formControlName="zip1" [ngClass]="{ 'is-invalid': editShippingAddressForm && e.zip1?.errors }" data-role="zip" data-val="true" data-val-required="zip is required"
                                                            id="ShippingAddr" name="ShippingAddr" type="text" value="">
                                                        <!-- <span class="field-validation-valid" data-valmsg-for="ShippingAddress.zip" data-valmsg-replace="true"></span> -->
                                                        <div *ngIf="editShippingAddressForm && e.zip1.errors" class="field-validation-valid">
                                                            <div *ngIf="e.zip1.errors.required">zip is required</div>
                                                        </div>
                                                        <p></p>
                                                    </div>
                                                    <div>
                                                        <input class="form-control personalInfo" [(ngModel)]="country" formControlName="country1" placeholder="Country" [ngClass]="{ 'is-invalid': editShippingAddressForm && e.country1?.errors }" data-role="country" data-val="true" data-val-required="countryis required"
                                                            id="ShippingAd" name="ShippingAddre" type="text" value="">
                                                        <!-- <span class="field-validation-valid" data-valmsg-for="ShippingAddress.country" data-valmsg-replace="true"></span> -->
                                                        <div *ngIf="editShippingAddressForm && e.country1.errors" class="field-validation-valid">
                                                            <div *ngIf="e.country1.errors.required">country is required</div>
                                                        </div>
                                                        <p></p>
                                                    </div>
                                                </div>

                                                <div class=" col-sm-12 pinfo">
                                                    <div class="emailbtns">

                                                        <div class="savesBtn">
                                                            <button class="save-btn" type="submit">Save Changes</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </ng-template>





                                <ngb-panel id="otp-sidebar2">
                                    <ng-template ngbPanelTitle>
                                        <div class="heading-step1 profile-section addNew-adress">
                                            <h4>Add New Address </h4>
                                            <span class="highlight-info">Click to add</span>

                                            <span class="arrow-stepp">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6.6"
                                                height="11.2" viewBox="0 0 6.6 11.2">
                                                <path id="Path_2044" data-name="Path 2044"
                                                    d="M630.9,4.7a.967.967,0,0,0,0,1.4l3.9,3.9-3.9,3.9a.99.99,0,0,0,1.4,1.4l4.6-4.6a.967.967,0,0,0,0-1.4l-4.6-4.6A.967.967,0,0,0,630.9,4.7Z"
                                                    transform="translate(-630.6 -4.4)" />
                                            </svg>
                                        </span>
                                        </div>
                                    </ng-template>

                                    <ng-template ngbPanelContent>
                                        <div class="panel-body">
                                            <div id="view-logininformation-798275e4-d1dd-4d37-a977-497293c0fe5d">
                                                <form [formGroup]="shippingAddressForm" (ngSubmit)="onAddressSubmit()">
                                                    <div class="row ">
                                                        <div class="col-sm-12 pinfo">
                                                            <input formControlName="streetAddress" placeholder="Street address" [ngClass]="{ 'is-invalid': addressSubmitted && s.streetAddress?.errors }" class="form-control personalInfo" data-role="Address1" data-val="true" data-val-required="Street Address is required"
                                                                id="ShippingAddress_Address1" name="ShippingAddress.Address1" type="text" value="">
                                                            <!-- <span class="field-validation-valid" data-valmsg-for="ShippingAddress.Address1" data-valmsg-replace="true"></span> -->
                                                            <div *ngIf="addressSubmitted && s.streetAddress.errors" class="field-validation-valid">
                                                                <div *ngIf="s.streetAddress.errors.required">street Address is required</div>
                                                            </div>
                                                            <!-- <label for="form-label">Street address</label>  -->
                                                            <p></p>

                                                        </div>
                                                        <div class="cityndState">
                                                            <div class="col-sm-6">

                                                                <input class="form-control personalInfo" placeholder="City" formControlName="city" [ngClass]="{ 'is-invalid': addressSubmitted && s.city?.errors }" data-role="City" data-val="true" data-val-required="city is required" id="ShippingAddress_city" name="ShippingAddress.city"
                                                                    type="text" value="">
                                                                <div *ngIf="addressSubmitted && s.city.errors" class="field-validation-valid">
                                                                    <div *ngIf="s.city.errors.required">city is required</div>
                                                                </div>
                                                                <p></p>
                                                            </div>

                                                            <div class="col-sm-6">

                                                                <input class="form-control personalInfo" placeholder="State" formControlName="state" [ngClass]="{ 'is-invalid': addressSubmitted && s.state?.errors }" data-role="state" data-val="true" data-val-required="state is required" id="ShippingAddress_state" name="ShippingAddress.state"
                                                                    type="text" value="">
                                                                <!-- <span class="field-validation-valid" data-valmsg-for="ShippingAddress.state" data-valmsg-replace="true"></span> -->
                                                                <div *ngIf="addressSubmitted && s.state.errors" class="field-validation-valid">
                                                                    <div *ngIf="s.state.errors.required">state is required</div>
                                                                </div>
                                                                <p></p>
                                                            </div>
                                                        </div>
                                                        <div class=" col-sm-12 pinfo">
                                                            <div>
                                                                <input class="form-control personalInfo" placeholder="ZIP" formControlName="zip" [ngClass]="{ 'is-invalid': addressSubmitted && s.zip?.errors }" data-role="zip" data-val="true" data-val-required="zip is required" id="ShippingAddress_zip" name="ShippingAddress.zip"
                                                                    type="text" value="">
                                                                <!-- <span class="field-validation-valid" data-valmsg-for="ShippingAddress.zip" data-valmsg-replace="true"></span> -->
                                                                <div *ngIf="addressSubmitted && s.zip.errors" class="field-validation-valid">
                                                                    <div *ngIf="s.zip.errors.required">zip is required</div>
                                                                </div>
                                                                <p></p>
                                                            </div>
                                                            <div>
                                                                <input class="form-control personalInfo" formControlName="country" placeholder="Country" [ngClass]="{ 'is-invalid': addressSubmitted && s.country?.errors }" data-role="country" data-val="true" data-val-required="countryis required" id="ShippingAddress_country"
                                                                    name="ShippingAddress.country" type="text" value="">
                                                                <!-- <span class="field-validation-valid" data-valmsg-for="ShippingAddress.country" data-valmsg-replace="true"></span> -->
                                                                <div *ngIf="addressSubmitted && s.country.errors" class="field-validation-valid">
                                                                    <div *ngIf="s.country.errors.required">country is required</div>
                                                                </div>
                                                                <p></p>
                                                            </div>

                                                        </div>

                                                        <div class=" col-sm-12 pinfo">
                                                            <div class="emailbtns">

                                                                <div class="savesBtn">
                                                                    <button class="save-btn">Save Changes</button>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>