<section class="address-page grid-checkout">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 address-paged  col-lg-push-8">
                <div class="enrollment-righ addresses-page">
                    <div class="enrollment-main-div">
                        <div class="enrollment-steps-5 addressed">
                            <h1 class="profileField">Addresses</h1>

                            <ngb-accordion activeIds="">

                                <ngb-panel id="promo-sidebar1"  *ngFor="let address of addressess; let i = index">
                                    <ng-template ngbPanelTitle>
                                        <div class="heading-step1 profile-section">
                                            <h4> Primary address</h4>
                                            <span class="highlight-info">{{ address.mainAddress1 }} {{ address.mainAddress2 }}</span>
                                            <span class="vali-promo"> </span>
                                            <span class="arrow-stepp">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6.6"
                                                height="11.2" viewBox="0 0 6.6 11.2">
                                                <path id="Path_2044" data-name="Path 2044"
                                                    d="M630.9,4.7a.967.967,0,0,0,0,1.4l3.9,3.9-3.9,3.9a.99.99,0,0,0,1.4,1.4l4.6-4.6a.967.967,0,0,0,0-1.4l-4.6-4.6A.967.967,0,0,0,630.9,4.7Z"
                                                    transform="translate(-630.6 -4.4)" />
                                            </svg>
                                        </span>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <form>
                                            <div class="addresTwo">
                                                <span> {{ address.mainAddress1 }} {{ address.mainAddress2 }}</span><br>
                                                <span>{{address.mainCity}}</span><br>
                                                <span>{{address.mainState}}{{ address.mainCounty}} {{address.mainZip}}</span>
                                            </div>
                                            <div class="emailbtns">
                                                <div class="cancles">
                                                    <a href="#"> <button class="cancle-btn">Cancel</button></a>
                                                </div>
                                                <div class="saves">
                                                    <a href="#"> <button class="save-btn">Save</button></a>
                                                </div>

                                            </div>
                                        </form>
                                    </ng-template>
                                </ngb-panel>

                                <ngb-panel id="otp-sidebar2">
                                    <ng-template ngbPanelTitle>
                                        <div class="heading-step1 profile-section">
                                            <h4>Add New Address </h4>
                                            <span class="highlight-info">Click to add</span>

                                            <span class="arrow-stepp">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6.6"
                                                height="11.2" viewBox="0 0 6.6 11.2">
                                                <path id="Path_2044" data-name="Path 2044"
                                                    d="M630.9,4.7a.967.967,0,0,0,0,1.4l3.9,3.9-3.9,3.9a.99.99,0,0,0,1.4,1.4l4.6-4.6a.967.967,0,0,0,0-1.4l-4.6-4.6A.967.967,0,0,0,630.9,4.7Z"
                                                    transform="translate(-630.6 -4.4)" />
                                            </svg>
                                        </span>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <div class="panel-body">
                                            <div id="view-logininformation-798275e4-d1dd-4d37-a977-497293c0fe5d">
                                                <div class="row ">
                                                    <div class=" col-sm-12 pinfo">
                                                        <form>
                                                            <div [className]="fieldprofile3?  'special-field datafilled form-group ' : 'special-field dataempty form-group'">

                                                                <input class="form-control personalInfo" data-role="Address1" data-val="true" data-val-required="Street Address is required" id="ShippingAddress_Address1" name="ShippingAddress.Address1" type="text" value="">
                                                                <span class="field-validation-valid" data-valmsg-for="ShippingAddress.Address1" data-valmsg-replace="true"></span>
                                                                <label for="form-label">Street address</label>
                                                                <p></p>
                                                            </div>
                                                        </form>
                                                    </div>




                                                    <div class="col-sm-6">
                                                        <form>
                                                            <div [className]="fieldprofile3?  'special-field datafilled form-group ' : 'special-field dataempty form-group'">
                                                                <input class="form-control personalInfo" data-role="Address1" data-val="true" data-val-required="Street Address is required" id="ShippingAddress_Address1" name="ShippingAddress.Address1" type="text" value="">
                                                                <span class="field-validation-valid" data-valmsg-for="ShippingAddress.Address1" data-valmsg-replace="true"></span>
                                                                <label for="form-label">City</label>
                                                                <p></p>
                                                            </div>
                                                        </form>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <form>
                                                            <div [className]="fieldprofile3?  'special-field datafilled form-group ' : 'special-field dataempty form-group'">
                                                                <input class="form-control personalInfo" data-role="Address1" data-val="true" data-val-required="Street Address is required" id="ShippingAddress_Address1" name="ShippingAddress.Address1" type="text" value="">
                                                                <span class="field-validation-valid" data-valmsg-for="ShippingAddress.Address1" data-valmsg-replace="true"></span>
                                                                <label for="form-label">State</label>
                                                                <p></p>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class=" col-sm-12 pinfo">
                                                        <form>
                                                            <div [className]="fieldprofile3?  'special-field datafilled form-group ' : 'special-field dataempty form-group'">

                                                                <input class="form-control personalInfo" data-role="Address1" data-val="true" data-val-required="Street Address is required" id="ShippingAddress_Address1" name="ShippingAddress.Address1" type="text" value="">
                                                                <span class="field-validation-valid" data-valmsg-for="ShippingAddress.Address1" data-valmsg-replace="true"></span>
                                                                <label for="form-label">Zip</label>
                                                                <p></p>
                                                            </div>

                                                            <div [className]="fieldprofile3?  'special-field datafilled form-group ' : 'special-field dataempty form-group'">

                                                                <input class="form-control personalInfo" data-role="Address1" data-val="true" data-val-required="Street Address is required" id="ShippingAddress_Address1" name="ShippingAddress.Address1" type="text" value="">
                                                                <span class="field-validation-valid" data-valmsg-for="ShippingAddress.Address1" data-valmsg-replace="true"></span>
                                                                <label for="form-label">Country</label>
                                                                <p></p>
                                                            </div>
                                                        </form>
                                                    </div>

                                                    <div class=" col-sm-12 pinfo">
                                                        <div class="emailbtns">
                                                            <!-- <div class="cancles">
                                                                <a href="#"> <button class="cancle-btn">Cancle</button></a>
                                                            </div> -->
                                                            <div class="saves">
                                                                <a href="#"> <button class="save-btn">Save Changes</button></a>
                                                            </div>

                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-panel>





                            </ngb-accordion>









                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>